.goodsname{
    color: green;
}
.goodsprice{
    color:red;
}
.reduce{
    padding-right: 10px;
}
.add{
    padding-left: 10px;
}
.btn{
    border:0;
    width:80px;
    height:50px;
    line-height: 50px;
    background:#6495ED;
    border-radius:5px;
    color:#fff;
    float:right;
}
.buy{
    margin-top: 20px;
    height: 80px;
    line-height: 80px;
    padding-bottom: 100px;
}